<div class="image-area"></div>

<section class="container now-showing-section">
    <h2>Now Showing</h2>
    <section ng-class="{'display-flex': dashboardVm.currentMovie.trailerUrl}">
        <div ng-if="dashboardVm.currentMovie.trailerUrl" >
            <youtube video-url='dashboardVm.currentMovie.trailerUrl' height="255" width="460"></youtube>
        </div>
        <div ng-class="{'columns': dashboardVm.currentMovie.trailerUrl}">
            <p class="join-us-text">Join us for the next Movie Club discussion:</p>
            <p class="now-showing-movie-title">{{dashboardVm.currentMovie.name}}</p>
            <p><i class="fa fa-calendar"></i> Tuesdays at noon, Building 62, Broadway Room</p>
            <p>Bring your lunch!</p>
        </div>
    </section>
</section>

<section class="about-club-section">

    <h2>About our Club</h2>

    <h3 ng-if="dashboardVm.clubNameProp">
        Welcome to {{dashboardVm.clubNameProp.value}}
    </h3>

    <p>Movie Club began after a lengthy discussion between coworkers about movies we watched, loved, and hated. It was a surprise to learn that many had missed out on what some considered “ the classics”, others were not up to speed with newer releases, and some people had hardly watched any decent movies in their whole life...

We decided to give ourselves an excuse to watch these flicks and the official Movie Club was born! We started in the old-fashioned way – each submitting one movie on a paper ticket and pulling one ticket out of the box each meeting. The meetings are run like a book club; we acquire the movie with our own resources, watch the movie on our own time, discuss the movie together over lunch, and then draw another movie before we depart. Movie Club began as an every-other week event, but popular vote demanded we draw movies and meet once a week! The first round "original 11" movies are represented in this websites header image.

We now have a fully-functioning website and over 20 participants! New faces and new movies are always welcome! Please check out and contribute to our gitHub repo.</p>

    <h3 ng-if="!dashboardVm.clubNameProp">
        Ack, catastrophic error!
    </h3>

    <h4>Check us out on <a href="https://github.com/charwking/movie-club" target="_new"><i class="fa fa-github"></i></a></h4>
</section>

<section class="recently-watched-section">
    <h2>Recently Watched</h2>
    <div class="large-slider-area">
        <ul class="no-bullets">
            <li><img src="images/_0003_shawshank.jpg" alt="Shawshank Redemption"></li>
            <li><img src="images/_0004_usual-suspects.jpg" alt="Usual Suspects"></li>
            <li><img src="images/_0001_safety-not-guaranteed.jpg" alt="Safety Not Guaranteed"></li>
            <li><img src="images/_0006_harold.jpg" alt="Harold and Maude"></li>
            <li><img src="images/_0005_safety-last.jpg" alt="Safety Last!"></li>
            <li><img src="images/_0000_begin-again.jpg" alt="Begin Again"></li>
            <li><img src="images/_0007_despicable-me.jpg" alt="Despicable Me"></li>
            <li><img src="images/_0008_moon.jpg" alt="Moon"></li>
            <li><img src="images/_0009_matrix.jpg" alt="The Matrix"></li>
            <li><img src="images/_0010_suicide-kings.jpg" alt="Suicide Kings"></li>
            <li><img src="images/_0011_nebraska.jpg" alt="Nebraska"></li>
            <li><img src="images/_0012_snatch.jpg" alt="Snatch (2008)"></li>
            <li><img src="images/_0002_willow.jpg" alt="Willow"></li>
            <li><img src="images/_0013_scott-pilgrim.jpg" alt="Scott Pilgrim vs. the World"></li>
            <li><img src="images/_0015_the-ref.jpg" alt="The Ref"></li>
            <li><img src="images/_0014_3ninjas.jpg" alt="3 Ninjas"></li>
            <li><img src="images/_0016_beautiful-mind.jpg" alt="A Beautiful Mind"></li>
            <li><img src="images/_0017_tenenbaums.jpg" alt="The Royal Tenenbaums"></li>
            <li><img src="images/_0018_back-to-the-future.jpg" alt="Back to the Future"></li>
            <li><img src="images/_0019_rabbit.jpg" alt="Who Framed Roger Rabbit?"></li>
            <li><img src="images/_0020_uncleboonmee.jpg" alt="Uncle Boonmee Who Can Recall His Past Lives"></li>
            <li><img src="images/_0021_memento.jpg" alt="Memento"></li>
            <li><img src="images/_0022_citizen-kane.jpg" alt="Citizen Kane"></li>
            <li><img src="images/_0023_hoop-dreams.jpg" alt="Hoop Dreams"></li>
            <li><img src="images/_0024_unbreakable.jpg" alt="Unbreakable"></li>
            <li><img src="images/_0025_kung-fu-hustle.jpg" alt="Kung Fu Hustle"></li>
            <li><img src="images/_0026_lost-in-translation.jpg" alt="Lost In Translation"></li>
            <li><img src="images/_0027_whiplash.jpg" alt="Whiplash"></li>
            <li><img src="images/_0028_twodays-onenight.jpg" alt="Two Days, One Night"></li>
            <li><img src="images/_0029_garden-state.jpg" alt="Garden State"></li>
            <li><img src="images/_0030_dark-city.jpg" alt="Dark City"></li>
            <li><img src="images/_0031_blue-ruinjpg.jpg" alt="Blue Ruin"></li>
        </ul>
    </div>
</section>

<section ng-if="dashboardVm.usernames">
    <h2>The Cast</h2>
    <ul class="no-bullets cast-section">
        <li ng-repeat="username in dashboardVm.usernames | orderBy:'toString()'">
            {{username}}
        </li>
    </ul>
</section>
