<div class="image-area">
    <img src="images/MovieStills.jpg" />
</div>

<section class="container now-showing-section">
    <h2>Now Showing</h2>
    <div class="now-showing-content">
        <div class="columns">
            <iframe
                width="100%"
                height="315"
                src="https://www.youtube.com/embed/aA98dqgJBgQ"
                frameborder="0"
                allowfullscreen
            >
            </iframe>
        </div>

        <div class="columns">
            <p class="join-us-text">Join us for the next Movie Club discussion:</p>
            <p class="now-showing-movie-title">Movie Title, 2015</p>
            <p class="submitted-by-text">Potentially submitted by: Name, Name, Name, Name</p>
            <p><i class="fa fa-calendar"></i> Tuesday's at noon, Building 62, Broadway Room</p>
            <p>Bring your lunch!</p>
        </div>
    </div>
</section>

<section class="about-club-section">

    <h2>About our Club</h2>

    <h3 ng-if="dashboardVm.propertyStore.clubName">
        <i class="fa fa-video-camera"></i>
        Welcome to {{dashboardVm.propertyStore.clubName}}
    </h3>

    <h3 ng-if="!dashboardVm.propertyStore.clubName">
        Ack, catastrophic error!
    </h3>
</section>

<section class="recently-watched-section">
    <h2>Recently Watched</h2>
    <ul>
        <li><img src="images/_0003_shawshank.jpg" alt="Shawshank Redemption"></li>
        <li><img src="images/_0004_usual-suspects.jpg" alt="Usual Suspects"></li>
        <li><img src="images/_0001_safety-not-guaranteed.jpg" alt="Safety Not Guaranteed"></li>
        <li><img src="images/_0006_harold.jpg" alt="Harold and Maude"></li>
        <li><img src="images/_0005_safety-last.jpg" alt="Safety Last!"></li>
        <li><img src="images/_0000_begin-again.jpg" alt="Begin Again"></li>
        <li><img src="images/_0007_despicable-me.jpg" alt="Despicable Me"></li>
        <li><img src="images/_0008_moon.jpg" alt="Moon"></li>
        <li><img src="images/_0009_matrix.jpg" alt="The Matrix"></li>
        <li><img src="images/_0010_suicide-kings.jpg" alt="Suicide Kings"></li>
		<li><img src="images/_0011_nebraska.jpg" alt="Nebraska"></li>
        <li><img src="images/_0012_snatch.jpg" alt="Snatch (2008)"></li>
        <li><img src="images/_0002_willow.jpg" alt="Willow"></li>
        <li><img src="images/_0013_scott-pilgrim.jpg" alt="Scott Pilgrim vs. the World"></li>
        <li><img src="images/_0015_the-ref.jpg" alt="The Ref"></li>
        <li><img src="images/_0014_3ninjas.jpg" alt="3 Ninjas"></li>        
    </ul>
</section>

<section class="cast-section" ng-if="dashboardVm.usernames">
    <h2>The Cast</h2>
    <ul>
        <li ng-repeat="username in dashboardVm.usernames | orderBy:'toString()'">
            {{username}}
        </li>
    </ul>
</section>
