<div class="image-area">
<!-- 	<img src="images/MovieStills.jpg"> -->
</div>

<section class="now-showing-section">
	<h2>Now Showing</h2>
	
		<div class="left">
			<iframe width="560" height="315" src="https://www.youtube.com/embed/aA98dqgJBgQ" frameborder="0" allowfullscreen></iframe>
		</div>
		<div>
			<i class="fa fa-calendar"></i>
			<p>Tuesday's at noon, Building 62, Broadway Room</p>
			<p>Bring your lunch!</p>
		</div>
</section>

<section class="recently-watched-section">
	<h2>Recently Watched</h2>
</section>

<section ng-controller="ClubController as vm" class="about-club-section">
	<h2>About our Club</h2>
	 <h3 ng-if="!vm.club.$isLoading && vm.club.name">
        <i class="fa fa-video-camera"></i>
        Welcome to {{vm.club.name}}
    </h3>
    <h3 ng-if="!vm.club.$isLoading && !vm.club.name">Sorry, club not found!</h3>
</section>