@import '../../bower_components/font-awesome/less/font-awesome.less';
@import 'common.less';

body {
	margin: 0;
	text-align: center;
	font-family: 'Fira Sans', sans-serif;
	color: #3c3c49;	
}

.top-header-nav {
	height: 15px;
	width: 100%;
	background-color: #d9413e;
	color: #fff;
	border-bottom: 10px solid #606066;
	text-transform: uppercase;
	padding: 40px;
	text-align: right;
	box-sizing: border-box;
	
	a {
		color: #fff;
		text-decoration: none;
		
		&:hover {
			color: pink;
		}
	}
}

.image-area {
	height: 247px;
	width: 100%;
	background-color: #606066;
	margin: 0 auto;
	overflow: hidden;
}

h2 {
	text-transform: uppercase;
	font-weight: 400;
}

h3 {
	font-weight: 200;	
}

section {
	min-height: 150px;
	padding: 10px;
}
	.now-showing-section {
		color: #3c3c49;	
	}
	
	.recently-watched-section {
		color: #ffffff;
		background-color: #3c3c49;	
	}
	
	.about-club-section {
		color: #ffffff;
		background-color: #c45b5b;
	}