body {
	margin: 0;
	text-align: center;
	font-family: 'Fira Sans', sans-serif;
	color: #3c3c49;	
}

button {
    border: 1px solid #ccc;
    border-radius: 4px;
    cursor: pointer;
    font-size: 14px;
    margin: 2px;
}

input {

    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 14px;
    height: 28px;
    margin: 2px;

    &.ng-dirty.ng-invalid {
        background-color: #f59d9d;

        .placeholder({
            color: #333;
        });
    }
}

.logo {
	position: absolute;
	margin-left: -120px;
	margin-top: -25px;
}

.top-header-nav {
	height: 15px;
	width: 100%;
	background-color: #d9413e;
	color: #fff;
	border-bottom: 10px solid #606066;
	text-transform: uppercase;
	padding: 40px;
	text-align: right;
	box-sizing: border-box;
	
	li {
	  float: right;
	  margin-left: 20px;
	  list-style-type: none;
	}
	
	.left-nav-item {
		float: left;
		margin: 0;
	}  
	
	a {
		color: #fff;
		text-decoration: none;
		
		&:hover {
			color: pink;
		}
	}
}

.image-area {
	height: 247px;
	width: 100%;
	background-color: #606066;
	margin: 0 auto;
	overflow: hidden;
	border-bottom: 10px solid #606066;
	background-position: center;
	background-image: url(http://localhost:8000/images/MovieStills.jpg);
}

h2 {
	text-transform: uppercase;
	font-weight: 400;
}

h3 {
	font-weight: 200;	
}

section {
	min-height: 150px;
	padding: 10px;
}
	.now-showing-section {
		color: #3c3c49;
	}
	
	.recently-watched-section {
		color: #ffffff;
		background-color: #3c3c49;	
	}
	
	.about-club-section {
		color: #ffffff;
		background-color: #c45b5b;
	}
	
.asterisk-text {
	font-style: italic;
	font-size: 12px;
	padding: 10px 0 30px;
}
