body {
    margin: 0;
    text-align: center;
    font-family: 'Fira Sans', sans-serif;
    color: #3c3c49;
}

button {
	border: 0px;
	cursor: pointer;
	font-size: 14px;
	margin: 15px 0;
	padding: 8px 21px;
	background-color: #3C3C49;
	color: #D2D2D2;
	box-shadow: 1px 1px 2px 1px #CCC;
	
	&:hover {
		background-color: #5C5C6F;
		color: #fafafa;
		transition: all 0.5s ease;
	}
	
	&:focus {
		outline: none;
	}
}

.container {
    max-width: 1020px;
    margin: 0 auto;
    padding-top: 50px;
}

input {
	background-color: #fff;
    border: 2px solid #ccc;
    border-radius: 0px;
    font-size: 14px;
    height: 28px;
    margin: 5px 2px;
   	padding: 2px 10px;
   	
   	&:focus {
	   	outline: none;
	   	border: 2px solid #8282B6;
   	}

    &.ng-dirty.ng-invalid {
        background-color: #f59d9d;

        .placeholder({
            color: #333;
        });
    }
}

.image-area {
    height: 247px;
    width: 100%;
    background-color: #606066;
    margin: 0 auto;
    overflow: hidden;
    border-bottom: 10px solid #606066;
    background-position: center;
}

h2 {
    text-transform: uppercase;
    font-weight: 400;
    font-family: 'Fira Sans', sans-serif;
}

h3 {
    font-weight: 200;
}

section {
    min-height: 150px;
    padding: 10px;
}
    .now-showing-section {
        color: #3c3c49;
        padding: 10px 0 40px;

        .now-showing-content {
            display: flex;
        }

        .join-us-text {
            font-weight: 600;
            font-style: italic;
            padding-top: 50px;
        }

        .now-showing-movie-title {
            text-transform: uppercase;
            color: #d9413e;
            font-weight: 600;
        }

        .submitted-by-text {
            font-size: 12px;
            font-style: italic;
        }
    }

    .recently-watched-section {
        color: #ffffff;
        background-color: #3c3c49;
        height: 400px;

        ul {
            list-style-type: none;
            padding: 0;
            
            li {
	            display: inline-flex;
	            box-shadow: 2px 2px 2px #4B4B4B;
	            
	            img {
		            height: 300px;
	            }
            }
        }
    }

    .about-club-section {
        color: #ffffff;
        background-color: #c45b5b;
    }

    .cast-section {

        ul {
            list-style-type: none;
            padding: 0;
        }
    }

.columns {
    width: 50%;
    display: block;
    float: left;
}

.asterisk-text {
    font-style: italic;
    font-size: 12px;
    padding: 10px 0 30px;
}
.movie-width {
    width: 100%;
}
