.top-header-nav {
    height: 15px;
    width: 95%;
    background-color: #d9413e;
    color: #fff;
    border-bottom: 10px solid #606066;
    text-transform: uppercase;
    padding: 40px;
    text-align: right;

    a {
        color: #fff;
        text-decoration: none;

        &:hover {
            color: pink;
        }
    }
}
