.top-header-nav {

    background-color: #d9413e;
    border-bottom: 10px solid #606066;
    color: #fff;
    height: 15px;
    padding: 40px;
    text-align: right;
    text-transform: uppercase;

    a {
        color: #fff;
        text-decoration: none;

        &:hover {
            color: pink;
        }
    }
}
