<section class="container">

    <h2>Host a Meeting</h2>

    <div class="columns">
        <h2>Absent Users</h2>
        <ul class="no-bullets">
            <li
                class="clickable"
                ng-repeat="user in hostMeetingVm.allUsers | orderBy:'username'"
                ng-click="hostMeetingVm.makeUserPresent(user)"
                ng-if="!hostMeetingVm.userIsPresent(user)"
            >
                {{user.username}} <i ng-if="hostMeetingVm.userHasMovies(user)" class="fa fa-video-camera"></i>
            </li>
        </ul>
    </div>

    <div class="columns">
        <h2>Present Users</h2>
        <div
            class="clickable"
            ng-repeat="user in hostMeetingVm.allUsers | orderBy:'username'"
            ng-click="hostMeetingVm.makeUserAbsent(user)"
            ng-if="hostMeetingVm.userIsPresent(user)"
        >
        {{user.username}} <i ng-if="hostMeetingVm.userHasMovies(user)" class="fa fa-video-camera"></i> ({{hostMeetingVm.getUserOdds(user) | number: 2}}%)
        </div>

        <button
            ng-disabled="!hostMeetingVm.anyUserHasMovies()"
            ng-click="hostMeetingVm.selectMovie()"
        >
            Select Movie
        </button>
    </div>
</section>
