<!DOCTYPE html>
<html lang="en" ng-app="movieClub" id="ng-app">
		<head>
		    <meta http-equiv="X-UA-Compatible" content="IE=Edge">
		    <meta charset="utf-8">
		    <meta name="viewport" content="width=device-width, initial-scale=1.0">
		    <link href="css/app.css" type="text/css" media="screen, projection" rel="stylesheet"/>
		    <link href='http://fonts.googleapis.com/css?family=Fira+Sans:300,400,500,700,300italic,400italic,500italic,700italic' rel='stylesheet' type='text/css'>
		    <title>Movie Club</title>
		</head>
		
		<body>
		    <nav class="top-header-nav" ng-controller="NavController as vm" ng-cloak>
			    <div ng-if="vm.isLoggedIn()"><a ui-sref="auth({action: 'logout'})">My Movies</a></div>
		        <div ng-if="vm.isLoggedIn()"><a ui-sref="auth({action: 'logout'})">Logout</a></div>
		        <div ng-if="!vm.isLoggedIn()"><a ui-sref="auth">Sign In / Register</a></div>
		        <div ng-if="vm.isLoggedIn()"><a ui-sref="auth({action: 'logout'})">Admin</a></div>
		    </nav>
		    
		    <div id="content-main" ui-view></div>
		
		    <script src="js/external.js" type="text/javascript"></script>
		    <script src="js/templates.js" type="text/javascript"></script>
		    <script src="js/internal.js" type="text/javascript"></script>
		</body>
</html>
