<section class="container">

    <h2>Host a Meeting</h2>

    <div class="columns">
        <h2>Absent Users</h2>
        <ul class="no-bullets">
            <li
                class="clickable"
                ng-repeat="user in hostMeetingVm.absentUsers | orderBy:'username'"
                ng-click="hostMeetingVm.moveUserToPresent(user)"
            >
                {{user.username}} <i ng-if="user.nextMovie" class="fa fa-video-camera"></i>
            </li>
        </ul>
    </div>

    <div class="columns">
        <h2>Present Users</h2>
        <div
            class="clickable"
            ng-repeat="user in hostMeetingVm.presentUsers | orderBy:'username'"
            ng-click="hostMeetingVm.moveUserToAbsent(user)"
        >
            {{user.username}} <i ng-if="user.nextMovie" class="fa fa-video-camera"></i>
        </div>

        <button
            ng-disabled="!hostMeetingVm.isMovieAvailable()"
            ng-click="hostMeetingVm.selectMovie()"
        >
            Select Movie
        </button>
    </div>
</section>
