<div ng-controller="AuthController as vm">

    <section ng-if="vm.userLoggedOut">
        <h3>You are now logged out!</h3>
    </section>

    <section>

        <h3>Already have an account? Login here</h3>

        <form name="vm.loginForm" ng-submit="vm.login()">

            <input
                maxlength="50"
                name="email"
                ng-model="vm.email"
                placeholder="Email"
                required=""
                type="email"
            />
            </br>

            <input
                maxlength="50"
                name="password"
                ng-model="vm.password"
                placeholder="Password"
                required=""
                type="password"
            />
            </br>

            <button
                ng-click="vm.login()"
                ng-disabled="!vm.loginForm.$valid"
            >
                Submit
            </button>

        </form>
    </section>
</div>
