<div ng-controller="RegisterController as vm">

    <section>

        <h3>Need an account? Register here</h3>

        <form
            name="vm.registrationForm"
            ng-submit="vm.register()"
        >

            <input
                maxlength="50"
                name="username"
                ng-model="vm.username"
                placeholder="Username"
                required
                type="text"
            /> * This will be publicly viewable by the entire Internet
            </br>

            <input
                maxlength="50"
                name="email"
                ng-model="vm.email"
                placeholder="Email"
                required
                type="email"
            />
            </br>

            <input
                maxlength="50"
                name="password"
                ng-model="vm.password"
                placeholder="Password"
                required
                type="password"
            />
            </br>

            <button
                ng-click="vm.register()"
                ng-disabled="!vm.registrationForm.$valid"
            >
                Submit
            </button>

        </form>
    </section>
</div>
